<div class="container">
    <h1>{{title}}</h1>
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><img width="100" [src]="product.image" alt="Italian Trulli"></h4>
            <p class="card-text">Preço: {{product.price}}</p>
            <button class="btn btn-primary" (click)="buyProduct(product)">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  
<router-outlet></router-outlet>


  

