<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" position ='end'>
    <app-checkout *ngIf="products.length > 0"></app-checkout>
  </mat-drawer>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><img width="100" [src]="product.image" alt="Italian Trulli"></h4>
            <p class="card-text">Preço: {{product.price}}</p>
            <button class="btn btn-primary" (click)="buyProduct(product)">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>