
<table class="table table-striped">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of selectedProducts">
        <td>{{product.title}}</td>
        <td>{{product.price}}</td>
        <td>
          <button class="btn btn-danger" (click)="removeProduct(product)">Remove</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
          <td colspan="1"></td>
          <td><strong>Total: {{ getTotal() }}</strong></td>
          <td>
            <button class="btn btn-success" (click)="orderProduct(selectedProducts)">Order</button>
          </td>
      </tr>
    </tfoot>
  </table>
  <ng-template *ngIf="selectedProducts.length === 0; else filledCart">
    <p class="alert alert-info">Your cart is empty</p>
  </ng-template>
  <ng-template #filledCart>
  </ng-template>
  